# Environment Mode ('development' | 'production')
REACT_APP_ENVIRONMENT=development

# Backend API URLs
REACT_APP_API_URL_LOCAL=http://localhost:5000
REACT_APP_API_URL_PROD=https://your-production-backend.onrender.com

# YOLO ML Service API URLs
REACT_APP_API_URL_YOLO_LOCAL=http://localhost:8000
REACT_APP_API_URL_YOLO_PROD=https://your-yolo-backend.onrender.com

# Razorpay Key ID
REACT_APP_RAZORPAY_KEY_ID=rzp_test_your_razorpay_key_id

# CI & Source Maps
CI=false
GENERATE_SOURCEMAP=false
